<html>
  <head>
    <meta charset="utf-8" />
    <title>CPU使用率</title>
    <script type="text/javascript" src="/public/js/echarts.min.js"></script>
    <script type="text/javascript" src="/public/js/socket.io.js"></script>
  </head>
  <body>
      <div id="main" style="width:1300px;height:700px;"></div>
      <script type="text/javascript">
        window.onload = function () {
            var data = [];
            var myChart = echarts.init(document.getElementById('main'));

            var option = {
              title: {
                  text: 'CPU使用率',
              },
              tooltip: {
                  trigger: 'axis',
                  formatter: params => {
                      params = params[0];
                      var date = new Date(params.value[0]);
                      var hours = date.getHours().toString().padStart(2, '0');
                      var minutes = date.getMinutes().toString().padStart(2, '0');
                      var seconds = date.getSeconds().toString().padStart(2, '0');

                      return `${hours}:${minutes}:${seconds} - ${params.value[1]}%`;
                  },
                  axisPointer: {
                      animation: false,
                  },
              },
              xAxis: {
                  type: 'time',
              },
              yAxis: {
                  type: 'value',
                  boundaryGap: [0, '20%'],
              },
              series: [
                {
                  name: 'CPU占用百分比',
                  type: 'line',
                  // smooth: true,
                  // showSymbol: false,
                  data: data,
                }
              ]
            };
            myChart.setOption(option);

            // init
            const socket = io('/', {
                transports: ['websocket']
            });

            socket.on('connect', () => {
                socket.on('res', msg => {
                    // console.log('接受到消息: ', msg);

                    if (data.length >= 3600) {
                        data.shift();
                    }
                    data.push([ Date.now(), msg ]);

                    myChart.setOption({
                        series: [ { data: data } ]
                    });
                });
            });

            // 系统事件
            socket.on('disconnect', msg => {
                console.log('#disconnect', msg);
            });
            socket.on('disconnecting', () => {
                console.log('#disconnecting');
            });
            socket.on('error', () => {
                console.log('#error');
            });

            window.socket = socket;
        };
      </script>
  </body>
</html>
